*{
	box-sizing: border-box;
}

/*html{
	scroll-behavior: smooth;
}*/

section{
	padding-top: 100px;
}

main{
	padding-top: 100px;
}

/*Generic Navigation styling */

header{
	position:  fixed;
	top: 0;
	width:  100%;
	z-index: 100;
}

.topnav{
	background-color: #B6BBCE;

}

.menu{
	max-width: 80%;
	margin: auto;
	padding: 0 10em 0 0;
}

.menu li{
	display:inline-block;
	padding: 40px 0;
}

.menu-right{
	float: right;
}

.menu-right > li{
	margin-left: 3em;
}

li.icon{
	display: none;
	font-size: 1.5rem;
}

span.navText{
	font-size: 1.5rem;
	font-family: 'Ubuntu', sans-serif;
}

.menu a{
	text-decoration: none;
	color: white;
	padding: 10px 10px;
}

/*Rollover styling*/
a.navContainer{
	position: relative;
}

.navContainer >i.fas,
.navContainer >i.fab{
	position: absolute;
	top: -50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: .5s ease;
	opacity: 0;
}

.navContainer >span.navText{
	position: relative;
	top: 0;
	transition: .5s ease;
}

li.button:hover i.fas{
	top: 50%;
	opacity: 1;
}

li.button:hover i.fab{
	top: 50%;
	opacity: 1;
}

li.button:hover span{
	top: 30px;
	opacity: 0;
}

li.button:hover{
	background-color: #751185;
	margin-top: 0;
	margin-bottom: 0;
}

/*Generic styling of AboutMe section*/
.AboutMe{
	max-width: 80%;
	text-align: center;
	margin:  0 auto 32px auto;
	overflow: hidden;
	font-family: 'Ubuntu', sans-serif;
}

.AboutMe h1{
	font-size: 3em;
}

.AboutMe img{
	border-radius: 50%;
	float: left;
	border:  10px solid black;
	opacity: 0.5;
	max-width: 100%;
	height: auto;
	transition: opacity 5s, transform 5s;

}

.AboutMe img:hover{
	opacity:  1;
	cursor: pointer;
	transform: scale(0.8, 0.8);
}

.AboutMe .personalDetails{
	float:  left;
	font-size: 1.5em;
	text-align: left;
	margin-left:  1.5em;
	border-left: 1px solid #B6BBCE;
	opacity:  0;
}

.personalDetails p{
	margin:  30px 0 30px 32px;
}

.personalDetails span{
	font-weight:  bold;
}

.Education{

	font-family: 'Ubuntu', sans-serif;
}

.myEducation{
	max-width: 80%;
	margin: auto;
	padding-top:  1em;
	padding-bottom:  1.8em;
	border-top: 1px solid #B6BBCE;
	border-bottom: 1px solid #B6BBCE;
}

.Education h1{
	font-size: 3em;
}

.Education p{
	font-size: 1.5em;

}

.flex-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.flex-container div{

	margin-bottom: 10px;
}

#edu1,
#edu3,
#edu5{
	flex-basis: 20%;
	margin-right: 5%;
	text-align: center;
	align-self: center;
	background-color: #B6BBCE;
	opacity: 0.5;
	transition: opacity 3s ease, color 3s ease, transform 3s ease;
}

#edu1:hover,
#edu3:hover,
#edu5:hover{
	opacity: 1;
	color: white;
	cursor: pointer;
	transform: scale(1.1);
}

#edu2:hover,
#edu4:hover,
#edu6:hover{
	opacity: 1;
	color: white;
	background-color: #B6BBCE;
	cursor: pointer;
	transform: scale(1.1);
}

#edu2,
#edu4,
#edu6{
	flex-basis: 70%;
	animation-duration: 3s;
	transition: opacity 3s ease, color 3s ease, background-color 3s ease, transform 3s ease;
}

#mySlide1{
	margin-left: 100%;
}

.mySlide{

	animation: 3s slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.skills{
	font-family: 'Ubuntu', sans-serif;
}

.mySkills{
	max-width: 80%;
	margin:  auto;
	text-align: left;
	border-bottom: 1px solid #B6BBCE;
}

.mySkills h1{
	font-size: 3em;
}

.mySkills p{
	font-size: 1.5em;
}

.skillFlex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.skill1{
	flex-basis: 20%;
	margin-right: 5%;
	margin-bottom: 50px;
	text-align: center;
	align-self: center;
	background-color: #B6BBCE;
	opacity: 0.5;
	transition: opacity 3s ease, color 3s ease, transform 3s ease;
}

.skill1:hover{
	opacity: 1;
	color: white;
	cursor: pointer;
	transform: scale(1.1);
}

.skill2{
	flex-basis: 70%;
	position: relative;
}

.skill2 img{
	opacity: 0;
	max-width: 100px;
	height:  auto;
}



.container{
	position: absolute;
	text-align: center;
	max-width: 100px;
	display: block;
	left:  700px;
	margin-right: 3em;
}

.container img{
	max-width: 100px;
	height:  auto;
}

.overlay{
	position: absolute;
	bottom:  100%;
	width:  100%;
	text-align: center;
	background-color: #008CBA;
	overflow: hidden;
	height:  0;
	transition:  1s ease;
	opacity: 0;
}

.overlay1{
	position: absolute;
	bottom:  0;
	width:  100%;
	text-align: center;
	background-color: #008CBA;
	overflow: hidden;
	height:  0;
	transition:  1s ease;
	opacity: 0;
}

.overlay2{
	position: absolute;
	left:  0;
	bottom: 0;
	height:  100%;
	text-align: center;
	background-color: #008CBA;
	overflow: hidden;
	width:  0;
	transition:  1s ease;
	opacity: 0;
}

.overlay3{
	position: absolute;
	right:  0;
	bottom: 0;
	height:  100%;
	text-align: center;
	background-color: #008CBA;
	overflow: hidden;
	width:  0;
	transition:  1s ease;
	opacity: 0;
}

.container:hover .overlay{
	bottom: 0;
	height:  100%;
}

.container:hover .overlay1{
	bottom: 0;
	height:  100%;
}

.container:hover .overlay2{
	left: 0;
	width:  100%;
}

.container:hover .overlay3{
	right: 0;
	width:  100%;
}

.text{
	color: white;
	position: relative;
	top: 50%;
	left:  50%;
	transform:  translate(-50%, -50%);
}


.experience{
	font-family: 'Great+Vibes', cursive;
}

.myExperience h1{
	font-family: 'Ubuntu', sans-serif;
}

.year p{
	font-family: 'Ubuntu', sans-serif;
}

.card-face label{
	font-family: 'Ubuntu', sans-serif;
}

.myExperience{
	max-width: 80%;
	margin:  auto;
	text-align: left;
}

.myExperience h1{
	font-size: 3em;
}

.myExperience p{
	font-size: 1.5em;
}

.expFlex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

}


.skill1 input{
	margin-left: 2em;
	margin-top:  .5em;
	margin-right:  1em;
}

.skill1 input:last-child{
	margin-bottom: .5em;
}

.scene{
	height: 120px;
	perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 2s;
  transform-style: preserve-3d;
}

.card1 {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 2s;
  transform-style: preserve-3d;
}

.card2 {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 2s;
  transform-style: preserve-3d;
}

.card3 {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 2s;
  transform-style: preserve-3d;
}

.year{
	line-height: 120px;
}

.year p{
	margin:  0;
}

.card-face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.card-face-back{
	transform: rotateY(180deg);
	text-align: left;

}

.card.is-flipped{
	transform: rotateY(180deg);
}

.card1.is-flipped{
	transform: rotateY(180deg);
}

.card2.is-flipped{
	transform: rotateY(180deg);
}

.card3.is-flipped{
	transform: rotateY(180deg);
}

.exp3{
	flex-basis: 70%;
	margin-bottom: 50px;
}

.scene1{
	width: 44rem;
	height: 12.5rem;
	perspective: 600px;

}

.box{
	width: 44rem;
	height:  12.5rem;
	position: relative;
	transform-style: preserve-3d;
	transform: translateZ(-50px);
	transition: transform 2s;
}

.box1{
	width: 44rem;
	height:  12.5rem;
	position: relative;
	transform-style: preserve-3d;
	transform: translateZ(-50px);
	transition: transform 2s;
}

.box2{
	width: 44rem;
	height:  12.5rem;
	position: relative;
	transform-style: preserve-3d;
	transform: translateZ(-50px);
	transition: transform 2s;
}

.box3{
	width: 44rem;
	height:  12.5rem;
	position: relative;
	transform-style: preserve-3d;
	transform: translateZ(-50px);
	transition: transform 2s;
}

.box__face{
	color: black;
  	text-align: center;
	border: 2px solid black;
	position:  absolute;
}

.box__face__top{
	font-size: 1.5em;
	text-align: left;
	padding-left: 6em;
}

.box__face__bottom{
	font-size: 0.8em;
	text-align: left;
}

.box__face__bottom .par{
	margin-left: 1.8em;
}

.box__face__bottom .par1{
	margin-left: 1.8em;
}

.box__face__bottom .par2{
	margin-left: 1.8em;
}

.box__face__bottom .par3{
	margin-left: 1.8em;
}

.hidden{
		display: none;
	}

.par{
	margin-top: 40px;
}

.par1{
	margin-top:  20px;
	font-size: 0.8rem;
}

.par2{
	margin-top: 40px;
	font-size: 0.8rem;
}

.par3{
	margin-top: 40px;
	font-size: 0.8rem;
}

.parBottom{
	margin-top: 40px;
	line-height: 1.5;
	font-size: 0.6rem;
	padding-left: 80px;
	padding-right: 80px;
}

.par1Bottom{
	margin-top: 25px;
	line-height: 1.5;
	font-size: 0.6rem;
	padding-left: 80px;
	padding-right: 80px;
}

.par2Bottom{
	margin-top: 60px;
	font-size: 0.7rem;
	padding-left: 80px;
	padding-right: 80px;
}

.par3Bottom{
	margin-top: 80px;
	font-size: 0.7rem;
	padding-left: 80px;
	padding-right: 80px;
}

.box__face__front,
.box__face__back{
	width:  44rem;
	height: 12.5rem;
	line-height: 200px;
}

.box__face__top,
.box__face__bottom{
	width: 44rem;
	height: 12.5rem;

}

.box__face__right,
.box__face__left{
	width: 12.5rem;
	height: 12.5rem;
	left: 15.75rem;
}

.box__face__front img{
	display:  block;
	margin-top:  50px;
	margin-left: auto;
	margin-right: auto;
}

.box__face__front.color1 img{
	display:  block;
	margin-top:  26px;
	margin-left: auto;
	margin-right: auto;
}

.box__face__front.color2 img{
	display:  block;
	margin-top:  26px;
	margin-left: auto;
	margin-right: auto;
}

.box__face__front.color3 img{
	display:  block;
	margin-top:  43px;
	margin-left: auto;
	margin-right: auto;
}

.box__face__back{
	font-size: 1.8em;
	font-weight: bold;
}

.box__face__right,
.box__face__left{
	opacity: 0.5;
}

.year .tooltiptext{
	visibility: hidden;
	background-color: black;
  	color: #fff;
  	text-align: center;
  	border-radius: 6px;
  	padding: 0 5px;
  	position: absolute;
  	z-index: 1;
  	line-height: 24px;
  	top: -30px;
  	left: 0px;
}

.year:hover .tooltiptext{
	visibility: visible;
}

.color{background:  rgba(204, 204, 204, 0.7);}
.color1{background: rgba(255, 255, 255, 0.7);}
.color2{background: rgba(204, 204, 204, 0.7);}
.color3{background: rgba(255, 255, 255, 0.7);}

.box__face__front  {transform: rotateY(0deg) translateZ(6.25rem);}
.box__face__back 	{transform: rotateX(180deg) translateZ(6.25rem);}
.box__face__right {transform: rotateY(90deg) translateZ(22rem);}
.box__face__left {transform: rotateY(-90deg) translateZ(22rem);}
.box__face__top {transform: rotateX(90deg) translateZ(6.25rem);}
.box__face__bottom {transform: rotateX(-90deg) translateZ(6.25rem);}

.box.show__front  { transform: translateZ( -6.25rem) rotateY(   0deg); }
.box.show__back   { transform: translateZ( -6.25rem) rotateX(-180deg); }
.box.show__right  { transform: translateZ(-22rem) rotateY( -90deg); }
.box.show__left   { transform: translateZ(-22rem) rotateY(  90deg); }
.box.show__top    { transform: translateZ(-6.25rem) rotateX( -90deg); }
.box.show__bottom { transform: translateZ(-6.25rem) rotateX(  90deg); }

.box1.show__front  { transform: translateZ( -6.25rem) rotateY(   0deg); }
.box1.show__back   { transform: translateZ( -6.25rem) rotateX(-180deg); }
.box1.show__right  { transform: translateZ(-22rem) rotateY( -90deg); }
.box1.show__left   { transform: translateZ(-22rem) rotateY(  90deg); }
.box1.show__top    { transform: translateZ(-6.25rem) rotateX( -90deg); }
.box1.show__bottom { transform: translateZ(-6.25rem) rotateX(  90deg); }

.box2.show__front  { transform: translateZ( -6.25rem) rotateY(   0deg); }
.box2.show__back   { transform: translateZ( -6.25rem) rotateX(-180deg); }
.box2.show__right  { transform: translateZ(-22rem) rotateY( -90deg); }
.box2.show__left   { transform: translateZ(-22rem) rotateY(  90deg); }
.box2.show__top    { transform: translateZ(-6.25rem) rotateX( -90deg); }
.box2.show__bottom { transform: translateZ(-6.25rem) rotateX(  90deg); }

.box3.show__front  { transform: translateZ( -6.25rem) rotateY(   0deg); }
.box3.show__back   { transform: translateZ( -6.25rem) rotateX(-180deg); }
.box3.show__right  { transform: translateZ(-22rem) rotateY( -90deg); }
.box3.show__left   { transform: translateZ(-22rem) rotateY(  90deg); }
.box3.show__top    { transform: translateZ(-6.25rem) rotateX( -90deg); }
.box3.show__bottom { transform: translateZ(-6.25rem) rotateX(  90deg); }

/*Respnsive styling. Hide links apart from first link and unhide the icon*/

@media screen and (max-width: 1000px){
	.menu-right > li{
		display: none;
	}

	li.icon{
		display: inline-block;
		float: right;
	}

}

/*Responsive styling onclick. Position icon absolute and links float none*/
@media screen and (max-width: 1000px){

	.topnav.responsive .menu li{
		display: block;
		margin-left: 0;
		margin-top: 0;
		padding: 20px 0;
	}

	li.button{
		max-width: 70%;
	}

	.topnav.responsive .menu-right .dropdown{
		padding-bottom: 10px;
	}

	.topnav.responsive .menu-right{
		float: none;
	}

	.topnav.responsive ul{
		position: relative;
	}

	.topnav.responsive li.icon{
		position: absolute;
		top: 0;
		right:3em;
	}

	.navContainer i.fas,
	.navContainer i.fab{
		left: 30px;
	}
}

/*Responsive styling for AboutMe section*/

@media screen and (max-width: 1500px){
	.personalDetails p{
		font-size: 16px;
	}

	.container{
		max-width: 70%;
		max-height:  70px;
	}

	.skills img{
		max-width: 70px;
		max-height:  70px;
	}
		.text{
		font-size: 0.75em;
	}
}

@media screen and (max-width: 1200px){
	.AboutMe .personalDetails{
		float: none;
		border: none;
		margin-left: 0;
		text-align: center;
	}

	.AboutMe img{
		float:  none;
	}
}

/* Responsice styling for Education section*/

@media screen and (max-width: 1000px){
	#edu1,
	#edu3,
	#edu5{
		display: none;
	}

	.flex-container{
		justify-content: center;

	}

	.Education p{
		font-size: 1em;
	}

	.myEducation h1{
		text-align: center;
		font-size: 2em;
	}

	.AboutMe h1{
		font-size: 2em;
	}
}

/*Responsice styling for skills section*/
@media screen and (max-width: 1000px){
	#skill1,
	#skill3,
	#skill5,
	#skill7,
	#skill9,
	#skill11,
	#skill13{
		display: none;
	}

	.skill2{
		flex-basis: 100%;
		position: static;
		align-self: center;
	}

	.container{
		max-width: 100%;
		height:  100%;
		float: left;
		margin-bottom: 5%;
		position: relative;
		left: 0px !important;
		margin-right: 2%;
	}

	.skills img,
	.container{
		max-width: 40px;
		max-height:  40px;
	}

	.text{
		font-size: 0.6em;
	}

	.mySkills{
		margin-right: 0;
		margin-left: 4%;
	}

	.mySkills h1{
		font-size: 32px;
	}

}

/*Responsive stylig for Experience section*/

@media screen and (max-width: 1400px){
	.scene.skill1{
		flex-basis: 25rem;
	}



	.exp3{
		flex-basis: 100%;
	}
}

@media screen and (max-width: 800px){
	.menu{
		padding: 0;
	}

	.scene,
	.scene1,
	.box,
	.box1,
	.box__face__top,
	.box__face__bottom,
	.box__face__front,
	.box__face__back{
		max-width:  22rem;
	}

	.box__face__back{
		font-size: 1rem;
	}

	.box__face__top{
		padding-left:  3em;
	}

	.hidden{
		display: block;
		margin-top: 40px;
	}

	.hide{
		display: none;
	}

	.par >p,
	.par1 >p,
	.par2 >p,
	.par3 >p{
		font-size: 0.8rem;
	}

	.par{
		margin-top: 70px;
	}

	.par1{
		margin-top: 50px;
	}

	.parBottom,
	.par1Bottom{
		margin-top: 10px;
	}

	.par3Bottom{
		margin-top: 65px;
	}

	.par2Bottom{
		margin-top: 40px;
	}

	.box__face__front.color > img{
		width:  80%;
		margin-top:  70px;
	}

	.box__face__front.color1 >img{
		width:  80%;
		margin-top:  45px;
	}

	.box__face__front.color2 >img{
		margin-top: 22px;
	}

	.box__face__front.color3 >img{
		width:  80%;
		margin-top:  60px;
	}

	.box__face__right {transform: rotateY(90deg) translateZ(0rem);

}

